@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --base-color: rgb(36, 36, 36);
  --base-wrapper-color: rgb(52, 51, 51);
  --base-button-color: rgb(161, 161, 161);
  --text-default-color: white;
}

.body {
  background-color: var(--base-color);
  font-family: "Nunito Sans";
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.wrapper {
  margin-block-start: 1rem;
  padding-inline: 4rem;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  background: transparent;
  margin-block: 1.5rem;
  height: 10%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
}

.navbar-logo-container {
  justify-self: start;
  float: left;
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  font-size: 3.5rem;
}

.navbar-logo-title {
  margin-inline-start: 1rem;
  font-size: 2rem;
  margin-block: 0;
}

.navbar-link-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar-link {
  color: var(--text-default-color);
  text-decoration: none;
  margin-inline-end: 1rem;
  justify-self: flex-end;
  font-size: 1.2rem;
  font-weight: 700;
}

.navbar-link:hover {
  color: var(--base-button-color);
}

.bottom-wrapper {
  display: flex;
  margin-block: 0;
  flex-grow: 1;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.sidebar {
  width: 15%;
  border: solid 2px var(--base-wrapper-color);
  border-radius: 1rem;
  padding: 2rem;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--base-wrapper-color); */
  color: var(--text-default-color);
  font-weight: 600;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
}

.sidebar-profile {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-top: -3rem;
}

.sidebar-name {
  font-size: 2rem;
  margin-block-start: 0.5rem;
}

.sidebar-ratings {
  font-size: 1rem;
  margin-block: 0.25rem;
}

.sidebar-button {
  outline: none;
  border: none;
  background: var(--text-default-color);
  align-self: center;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--base-color);
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block-start: 0.5rem;
}

.main-content {
  border: solid 2px var(--base-wrapper-color);
  border-radius: 1rem;
  margin-inline-start: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  width: calc(85% - 11rem);
  color: var(--text-default-color);
  font-weight: 600;
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
  box-shadow: 10px 10px 21px -4px rgba(0, 0, 0, 0.41);
}

.movie-carousel-wrapper {
  margin-top: -1rem;
  padding: 1rem;
  width: calc(100%);
  height: 50%;
}

.movie-carousel-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.movie-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  height: 100%;
  scroll-snap-type: x mandatory;
  align-items: space-between;
}

.movie-carousel::-webkit-scrollbar {
  display: none;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.movie-card-image {
  height: calc(100% - 4rem);
}

.movie-card-title {
  text-align: center;
  word-wrap: normal;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.main-hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  opacity: 0.1;
  position: relative;
  left: -2rem;
  width: calc(100% + 4rem);
}

.rr-title {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.rr-wrapper {
  width: 100%;
  max-height: 30%;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 2rem;
}

.rr-container {
  max-height: inherit;
}

.rr-rating {
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.rr-rating-title {
  font-size: 0.8rem;
  font-weight: normal;
  margin-left: 1rem;
}

.rr-description {
  font-size: 0.8rem;
  text-align: justify;
  color: var(--base-button-color);
}

.rr-date {
  margin-top: 1rem;
  font-style: italic;
  font-size: 0.7rem;
  text-align: end;
  font-weight: 700;
  color: var(--base-button-color);
}
